<a href="https://colab.research.google.com/github/Pranjalya/fake-news-twitter/blob/master/Fake_News_Countering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using Spark

Installing dependencies (JAVA, Hadoop and Spark)

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!pip install -q findspark
!pip install -q pyspark
!pip install -q tweet-preprocessor

Creating Spark session using PySpark

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

Downloading fact-checking twitter data.

In [35]:
!curl 'https://storage.googleapis.com/kaggle-data-sets/689642%2F1213945%2Fcompressed%2FAllTweets_Dec2019_June2020.csv.zip?GoogleAccessId=gcp-kaggle-com@kaggle-161607.iam.gserviceaccount.com&Expires=1591776960&Signature=lOPPi5k%2FlvyJT8uawwMzZsSZ1m%2B2XT2ti%2BMWBQzXcAj5zPbsMepoaGfQ2pRYai3aZEAc9R9R8Y8BtSYKP5fEfwpN1SyOaRtYcU%2BsqnK7xWVqc5cNYl3sBzOiYBZDOA1DnaopD213MF1EjNtdcg3tFzbZ9X%2FReXzEuHShkPtFjfWudnchNRNKkMpLw5twvLxFtyrWt4tMlTdLo7E35AdDedW%2FEoBC1dOGUvGrdg3%2Feh%2F6B0H7WM25i79%2FblRU5Ef7oU%2F5lfMUeNFfEpuxmOdvsq8jvlAxUAS5FXpKvFVvmBPawEBAnkp6p9LYyOg3unAaHLLGQVxQAQdFzTVtUt8o6Q%3D%3D' -H 'authority: storage.googleapis.com' -H 'upgrade-insecure-requests: 1' -H 'dnt: 1' -H 'user-agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.132 Safari/537.36' -H 'sec-fetch-dest: document' -H 'accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9' -H 'sec-fetch-site: cross-site' -H 'sec-fetch-mode: navigate' -H 'sec-fetch-user: ?1' -H 'referer: https://www.kaggle.com/' -H 'accept-language: en-IN,en-GB;q=0.9,en-US;q=0.8,en;q=0.7' --compressed --output fact_checker.zip
!mkdir data
!unzip fact_checker.zip -d data

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 10.1M  100 10.1M    0     0  28.8M      0 --:--:-- --:--:-- --:--:-- 28.9M
mkdir: cannot create directory ‘data’: File exists
Archive:  fact_checker.zip
  inflating: data/AllTweets_Dec2019_June2020.csv

## Loading data

In [38]:
import pandas as pd
import numpy as np
import os
import re
# Tweet preprocessor - https://github.com/s/preprocessor
import preprocessor as tp
import nltk
import string
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from tqdm import tqdm

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [39]:
path = '/content/drive/My Drive/twitter_dataset/'
fact_checker_path = '/content/data/AllTweets_Dec2019_June2020.csv'
first = True

for f in tqdm(os.listdir(path)):
    if(first):
        df = pd.read_json(path + f, compression='gzip', lines=True)
        fact_checker_df = pd.read_csv(fact_checker_path)
        first = True
    else:
        df = pd.concat([df, pd.read_json(path + f, compression='gzip', lines=True)])
df.info()

  0%|          | 0/90 [00:00<?, ?it/s]/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
100%|██████████| 90/90 [02:59<00:00,  1.99s/it]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15686 entries, 0 to 15685
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   created_at                 15686 non-null  datetime64[ns, UTC]
 1   id                         15686 non-null  int64
 2   id_str                     15686 non-null  int64
 3   full_text                  15686 non-null  object
 4   truncated                  15686 non-null  bool
 5   display_text_range         15686 non-null  object
 6   entities                   15686 non-null  object
 7   source                     15686 non-null  object
 8   in_reply_to_status_id      839 non-null    float64
 9   in_reply_to_status_id_str  839 non-null    float64
 10  in_reply_to_user_id        882 non-null    float64
 11  in_reply_to_user_id_str    882 non-null    float64
 12  in_reply_to_screen_name    882 non-null    object
 13  user                       15686 non-null  object
 14  geo                        2 non-null      object
 15  coordinates                2 non-null      object
 16  place                      57 non-null     object
 17  contributors               0 non-null      float64
 18  retweeted_status           12591 non-null  object
 19  is_quote_status            15686 non-null  bool
 20  retweet_count              15686 non-null  int64
 21  favorite_count             15686 non-null  int64
 22  favorited                  15686 non-null  bool
 23  retweeted                  15686 non-null  bool
 24  lang                       15686 non-null  object
 25  extended_entities          1196 non-null   object
 26  possibly_sensitive         4327 non-null   float64
 27  quoted_status_id           1296 non-null   float64
 28  quoted_status_id_str       1296 non-null   float64
 29  quoted_status_permalink    1296 non-null   object
 30  quoted_status              264 non-null    object
 31  withheld_scope             24 non-null     object
 32  withheld_in_countries      24 non-null     object
dtypes: bool(4), datetime64[ns, UTC](1), float64(8), int64(4), object(16)
memory usage: 3.5+ MB

In [40]:
fact_checker_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85622 entries, 0 to 85621
Data columns (total 34 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               85622 non-null  int64
 1   conversation_id  85622 non-null  int64
 2   created_at       85622 non-null  int64
 3   date             85622 non-null  object
 4   timezone         85622 non-null  object
 5   place            4 non-null      object
 6   tweet            85622 non-null  object
 7   hashtags         85622 non-null  object
 8   cashtags         85622 non-null  object
 9   user_id          85622 non-null  int64
 10  user_id_str      85622 non-null  int64
 11  username         85622 non-null  object
 12  name             85622 non-null  object
 13  day              85622 non-null  int64
 14  hour             85622 non-null  int64
 15  link             85622 non-null  object
 16  retweet          85622 non-null  bool
 17  nlikes           85622 non-null  int64
 18  nreplies         85622 non-null  int64
 19  nretweets        85622 non-null  int64
 20  quote_url        1358 non-null   object
 21  search           85622 non-null  object
 22  near             0 non-null      float64
 23  geo              0 non-null      float64
 24  source           0 non-null      float64
 25  user_rt_id       0 non-null      float64
 26  user_rt          0 non-null      float64
 27  retweet_id       0 non-null      float64
 28  reply_to         85622 non-null  object
 29  retweet_date     0 non-null      float64
 30  translate        0 non-null      float64
 31  trans_src        0 non-null      float64
 32  trans_dest       0 non-null      float64
 33  Region           85622 non-null  object
dtypes: bool(1), float64(10), int64(10), object(13)
memory usage: 21.6+ MB

In [41]:
df.head()

                 created_at  ...  withheld_in_countries
0 2020-01-23 18:59:28+00:00  ...                    NaN
1 2020-01-23 18:59:28+00:00  ...                    NaN
2 2020-01-23 18:59:29+00:00  ...                    NaN
3 2020-01-23 18:59:29+00:00  ...                    NaN
4 2020-01-23 18:59:30+00:00  ...                    NaN

[5 rows x 33 columns]

In [45]:
fact_checker_df.head()

                    id      conversation_id  ...  trans_dest  Region
0  1267487446809313282  1267487446809313282  ...         NaN  Others
1  1267108282164019202  1267108282164019202  ...         NaN  Others
2  1266732527227744256  1266732527227744256  ...         NaN  Others
3  1266671072671391744  1266671072671391744  ...         NaN  Others
4  1266653343767597057  1266653343767597057  ...         NaN  Others

[5 rows x 34 columns]

Let's take a look at the sentences of the fact-checker tweets, and see the term it uses to check the news.

In [53]:
fact_checker_df.iloc[6000:6005]

                       id      conversation_id  ...  trans_dest  Region
6000  1263425998717980675  1263425998717980675  ...         NaN  Others
6001  1263422145314484225  1263055756393189376  ...         NaN  Others
6002  1263422118047309824  1239943348896428032  ...         NaN  Others
6003  1263422038632361984  1263165564123398144  ...         NaN  Others
6004  1263421878414094337  1263079795773956097  ...         NaN  Others

[5 rows x 34 columns]

At the end of each fact-checking tweet, there's a link to actual blog, on which the results of the claims are published. Keeping them in a seperate field, as they would get removed in preprocessing.

In [57]:
fact_checker_df['relay_url'] = fact_checker_df['tweet'].str.extract(
    pat="(http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+)")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85622 entries, 0 to 85621
Data columns (total 35 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               85622 non-null  int64
 1   conversation_id  85622 non-null  int64
 2   created_at       85622 non-null  int64
 3   date             85622 non-null  object
 4   timezone         85622 non-null  object
 5   place            4 non-null      object
 6   tweet            85622 non-null  object
 7   hashtags         85622 non-null  object
 8   cashtags         85622 non-null  object
 9   user_id          85622 non-null  int64
 10  user_id_str      85622 non-null  int64
 11  username         85622 non-null  object
 12  name             85622 non-null  object
 13  day              85622 non-null  int64
 14  hour             85622 non-null  int64
 15  link             85622 non-null  object
 16  retweet          85622 non-null  bool
 17  nlikes           85622 non-null  int64
 18  nreplies         85622 non-null  int64
 19  nretweets        85622 non-null  int64
 20  quote_url        1358 non-null   object
 21  search           85622 non-null  object
 22  near             0 non-null      float64
 23  geo              0 non-null      float64
 24  source           0 non-null      float64
 25  user_rt_id       0 non-null      float64
 26  user_rt          0 non-null      float64
 27  retweet_id       0 non-null      float64
 28  reply_to         85622 non-null  object
 29  retweet_date     0 non-null      float64
 30  translate        0 non-null      float64
 31  trans_src        0 non-null      float64
 32  trans_dest       0 non-null      float64
 33  Region           85622 non-null  object
 34  relay_url        78274 non-null  object
dtypes: bool(1), float64(10), int64(10), object(14)
memory usage: 22.3+ MB

## Data Preprocessing

Getting all the list of emoticons and other pictorials first.

In [0]:
emoticons_happy = set([
    ':-)', ':)', ';)', ':o)', ':]', ':3', ':c)', ':>', '=]', '8)', '=)', ':}',
    ':^)', ':-D', ':D', '8-D', '8D', 'x-D', 'xD', 'X-D', 'XD', '=-D', '=D',
    '=-3', '=3', ':-))', ":'-)", ":')", ':*', ':^*', '>:P', ':-P', ':P', 'X-P',
    'x-p', 'xp', 'XP', ':-p', ':p', '=p', ':-b', ':b', '>:)', '>;)', '>:-)',
    '<3'
    ])

emoticons_sad = set([
    ':L', ':-/', '>:/', ':S', '>:[', ':@', ':-(', ':[', ':-||', '=L', ':<',
    ':-[', ':-<', '=\\', '=/', '>:(', ':(', '>.<', ":'-(", ":'(", ':\\', ':-c',
    ':c', ':{', '>:\\', ';('
    ])

#Emoji patterns
emoji_pattern = re.compile("["
         u"\U0001F600-\U0001F64F"  # emoticons
         u"\U0001F300-\U0001F5FF"  # symbols & pictographs
         u"\U0001F680-\U0001F6FF"  # transport & map symbols
         u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
         u"\U00002702-\U000027B0"
         u"\U000024C2-\U0001F251"
         "]+", flags=re.UNICODE)

# All emoticons
emoticons = emoticons_happy.union(emoticons_sad)

Performing basic preprocessings.

In [0]:
def clean_tweets(tweet):
 
    stop_words = set(stopwords.words('english'))
    word_tokens = word_tokenize(tweet)

    # Removing retweets and 
    tweet = re.sub(r'RT', '', tweet)
    tweet = re.sub(r':', '', tweet)
    tweet = re.sub(r'‚Ä¶', '', tweet)

    # Replace=ing consecutive non-ASCII characters with a space
    tweet = re.sub(r'[^\x00-\x7F]+',' ', tweet)

    # Removing emoticons from tweet
    tweet = emoji_pattern.sub(r'', tweet)

    # Filtering using NLTK library append it to a string
    filtered_tweet = [w for w in word_tokens if not w in stop_words]
    filtered_tweet = []

    for w in word_tokens:
        if w not in stop_words and w not in emoticons and w not in string.punctuation:
            filtered_tweet.append(w)
    
    return ' '.join(filtered_tweet)

Cleaning all the tweets.

In [0]:
# Cleaning using tweet-preprocessor tool first
df['full_text'] = df['full_text'].apply(tp.clean)

# Performing some extra custom cleaning steps
df['full_text'] = df['full_text'].apply(clean_tweets)

# Performing cleaning too fact-checking tweets
fact_checker_df['tweet'] = fact_checker_df['tweet'].apply(tp.clean)
fact_checker_df['tweet'] = fact_checker_df['tweet'].apply(clean_tweets)

In [63]:
df.head()

                 created_at  ...  withheld_in_countries
0 2020-01-23 18:59:28+00:00  ...                    NaN
1 2020-01-23 18:59:28+00:00  ...                    NaN
2 2020-01-23 18:59:29+00:00  ...                    NaN
3 2020-01-23 18:59:29+00:00  ...                    NaN
4 2020-01-23 18:59:30+00:00  ...                    NaN

[5 rows x 33 columns]

## Clustering Twitter data