<a href="https://colab.research.google.com/github/Pranjalya/fake-news-twitter/blob/master/Fake_News_Countering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using Spark

Installing dependencies (JAVA, Hadoop and Spark)

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!pip install -q findspark
!pip install -q pyspark
!pip install -q tweet-preprocessor

Creating Spark session using PySpark

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

## Loading data

In [27]:
import pandas as pd
import numpy as np
import os
import re
# Tweet preprocessor - https://github.com/s/preprocessor
import preprocessor as tp
import nltk
import string
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from tqdm import tqdm

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [15]:
path = '/content/drive/My Drive/twitter_dataset/'
first = True

for f in tqdm(os.listdir(path)):
    if(first):
        df = pd.read_json(path + f, compression='gzip', lines=True)
        first = True
    else:
        df = pd.concat([df, pd.read_json(path + f, compression='gzip', lines=True)])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15686 entries, 0 to 15685
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   created_at                 15686 non-null  datetime64[ns, UTC]
 1   id                         15686 non-null  int64
 2   id_str                     15686 non-null  int64
 3   full_text                  15686 non-null  object
 4   truncated                  15686 non-null  bool
 5   display_text_range         15686 non-null  object
 6   entities                   15686 non-null  object
 7   source                     15686 non-null  object
 8   in_reply_to_status_id      839 non-null    float64
 9   in_reply_to_status_id_str  839 non-null    float64
 10  in_reply_to_user_id        882 non-null    float64
 11  in_reply_to_user_id_str    882 non-null    float64
 12  in_reply_to_screen_name    882 non-null    object
 13  user                       15686 non-null  object
 14  geo                        2 non-null      object
 15  coordinates                2 non-null      object
 16  place                      57 non-null     object
 17  contributors               0 non-null      float64
 18  retweeted_status           12591 non-null  object
 19  is_quote_status            15686 non-null  bool
 20  retweet_count              15686 non-null  int64
 21  favorite_count             15686 non-null  int64
 22  favorited                  15686 non-null  bool
 23  retweeted                  15686 non-null  bool
 24  lang                       15686 non-null  object
 25  extended_entities          1196 non-null   object
 26  possibly_sensitive         4327 non-null   float64
 27  quoted_status_id           1296 non-null   float64
 28  quoted_status_id_str       1296 non-null   float64
 29  quoted_status_permalink    1296 non-null   object
 30  quoted_status              264 non-null    object
 31  withheld_scope             24 non-null     object
 32  withheld_in_countries      24 non-null     object
dtypes: bool(4), datetime64[ns, UTC](1), float64(8), int64(4), object(16)
memory usage: 3.5+ MB

In [16]:
df.head()

                 created_at  ...  withheld_in_countries
0 2020-01-23 18:59:28+00:00  ...                    NaN
1 2020-01-23 18:59:28+00:00  ...                    NaN
2 2020-01-23 18:59:29+00:00  ...                    NaN
3 2020-01-23 18:59:29+00:00  ...                    NaN
4 2020-01-23 18:59:30+00:00  ...                    NaN

[5 rows x 33 columns]

## Data Preprocessing

Getting all the list of emoticons and other pictorials first.

In [0]:
emoticons_happy = set([
    ':-)', ':)', ';)', ':o)', ':]', ':3', ':c)', ':>', '=]', '8)', '=)', ':}',
    ':^)', ':-D', ':D', '8-D', '8D', 'x-D', 'xD', 'X-D', 'XD', '=-D', '=D',
    '=-3', '=3', ':-))', ":'-)", ":')", ':*', ':^*', '>:P', ':-P', ':P', 'X-P',
    'x-p', 'xp', 'XP', ':-p', ':p', '=p', ':-b', ':b', '>:)', '>;)', '>:-)',
    '<3'
    ])

emoticons_sad = set([
    ':L', ':-/', '>:/', ':S', '>:[', ':@', ':-(', ':[', ':-||', '=L', ':<',
    ':-[', ':-<', '=\\', '=/', '>:(', ':(', '>.<', ":'-(", ":'(", ':\\', ':-c',
    ':c', ':{', '>:\\', ';('
    ])

#Emoji patterns
emoji_pattern = re.compile("["
         u"\U0001F600-\U0001F64F"  # emoticons
         u"\U0001F300-\U0001F5FF"  # symbols & pictographs
         u"\U0001F680-\U0001F6FF"  # transport & map symbols
         u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
         u"\U00002702-\U000027B0"
         u"\U000024C2-\U0001F251"
         "]+", flags=re.UNICODE)

# All emoticons
emoticons = emoticons_happy.union(emoticons_sad)

Performing basic preprocessings.

In [0]:
def clean_tweets(tweet):
 
    stop_words = set(stopwords.words('english'))
    word_tokens = word_tokenize(tweet)

    # Removing retweets and 
    tweet = re.sub(r'RT', '', tweet)
    tweet = re.sub(r':', '', tweet)
    tweet = re.sub(r'‚Ä¶', '', tweet)

    # Replace=ing consecutive non-ASCII characters with a space
    tweet = re.sub(r'[^\x00-\x7F]+',' ', tweet)

    # Removing emoticons from tweet
    tweet = emoji_pattern.sub(r'', tweet)

    # Filtering using NLTK library append it to a string
    filtered_tweet = [w for w in word_tokens if not w in stop_words]
    filtered_tweet = []

    for w in word_tokens:
        if w not in stop_words and w not in emoticons and w not in string.punctuation:
            filtered_tweet.append(w)
    
    return ' '.join(filtered_tweet)

Cleaning all the tweets.

In [0]:
# Cleaning using tweet-preprocessor tool first
df['full_text'] = df['full_text'].apply(tp.clean)

# Performing some extra custom cleaning steps
df['full_text'] = df['full_text'].apply(clean_tweets)

In [33]:
df.head()

                 created_at  ...  withheld_in_countries
0 2020-01-23 18:59:28+00:00  ...                    NaN
1 2020-01-23 18:59:28+00:00  ...                    NaN
2 2020-01-23 18:59:29+00:00  ...                    NaN
3 2020-01-23 18:59:29+00:00  ...                    NaN
4 2020-01-23 18:59:30+00:00  ...                    NaN

[5 rows x 33 columns]